/* Footer styles */

footer {
    background: linear-gradient(to top, #000000 0%, #1a1a1a 100%);
    color: white;
    text-align: center;
    padding: 4rem 2rem;
}

footer p {
    margin-bottom: 0.5rem;
    font-weight: 300;
    opacity: 0.8;
}

footer strong {
    font-weight: 400;
}
